{% extends "ratings/base.html" %}
{% block body_block %}

<section class="banner-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text" style="font-size: large">
                            <b>SARating</b> is a service ranking system based on results from sentiment analysis techniques.
                            <br><br>

                            The classification is applied on reviews collected from different online platforms. The
                            results obtained, are displayed in form of sorted list using the <a
                                href="http://www.evanmiller.org/how-not-to-sort-by-average-rating.html" target="_blank">Lower
                            bound of Wilson score confidence interval for a Bernoulli parameter</a> formula. <br><br>

                            Essentially, this approach balances the proportion of positive ratings with
                            the possibility of dealing with small sample sizes.

                            The system avoids the need, for the users, to search for online feedback  before ordering. <br><br>
                        </p>
                    </div>


                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}