{% extends "ratings/base.html" %}
{% load ratings_extras %}
{% block body_block %}
<div class="row">
    <div class="col-md-9">
        <div class="well">
            {% if businesses %}
            <div class="list-group">
                {% for business in businesses %}
                <a href="https://www.tripadvisor.com{{ business.url }}" class="list-group-item" target="_blank">

                    <div class="col-md-8">
                        <h4> {{ forloop.counter }} . {{ business.name }} </h4>
                        <p class="list-group-item-text">
                            <ul>
                                <li><b>Location:</b> {{ business.location }}</li>
                                <li><b>Address:</b>  {{ business.address }}</li>
                                <li><b>Category:</b>  {{ business.category }}</li>
                                <li><b>Positive Reviews:</b>  {{ business.positive_reviews }}</li>
                                <li><b>Negative Reviews:</b>  {{ business.negative_reviews }}</li>
                                <li><b>T.A. Ratings:</b>  {{ business.star_ratings }}</li>
                            </ul>
                        </p>
                    </div>
                    <div class="col-md-4 text-center">
                        <h4> {{ business.total_reviews }}
                            <small> reviews</small>
                        </h4>
                        <div class="stars">
                            {{ business.ratings|stars|safe}}
                        </div>
                        <p> <b>S.A. Ratings:</b>  {{ business|round_ratings}}
                            <small> /</small>
                            5
                        </p>
                    </div>
                </a>
                {% endfor %}
            </div>
            {% endif %}

        </div>
    </div>

</div>
{% endblock %}
