boto==2.49.0
boto3==1.9.152
botocore==1.12.152
Bottleneck==1.2.1
cachetools==3.1.0
certifi==2019.3.9
cffi==1.12.2
Django==2.2.21
django-crispy-forms==1.7.2
django-extensions==2.1.6
django-filter==2.1.0
djangorestframework==3.9.2
djongo==1.2.32
docutils==0.14
entrypoints==0.3
et-xmlfile==1.0.1
Faker==1.0.4
google-api-core==1.10.0
google-auth==1.6.3
google-cloud-core==1.0.2
google-cloud-dataproc==0.4.0
google-cloud-language==1.2.0
google-cloud-logging==1.11.0
google-cloud-storage==1.16.1
google-resumable-media==0.3.2
googleapis-common-protos==1.5.10
numba==0.43.1
numexpr==2.6.9
numpy==1.16.2
numpydoc==0.8.0
openpyxl==2.6.1
pandas==0.24.2
pylint==2.3.1
pymongo==3.7.2
PyMySQL==0.9.3
pyodbc==4.0.26
pyOpenSSL==19.0.0
pyparsing==2.3.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.3.0
pytest-openfiles==0.3.2
pytest-remotedata==0.3.1
python-dateutil==2.8.0